*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F5F0BB;
}
.app{
    width: 90%;
    background-color: #B3C890;
    max-width: 900px;
    margin: 100px auto 0;
    padding: 30px 20px;
    border-radius: 10px;
}
.pertanyaan h1{
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
#soal{
    margin-bottom: 10px;
    font-weight: 200;
}
.btn{
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    border: 1px solid ;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: black;
    color: #fff;
}
#next-btn{
    font-size: 18px;
    background-color: #B3C890;
    padding: 10px;
    background-color: #73A9AD;
    border: 1px solid ;
    border-radius: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

#next-btn:hover{
    transform: scale(1.1);
}
.btn:disabled{
    cursor: no-drop;
}
.correct{
    background-color: #73A9AD;
    color: #fff;
}
.incorrect{
    background-color: red;
    color: white;
}